h1{
    font-family: cambria;
    font-weight: normal;
}
header{
    width: 20%;
    height: 100px;
    background-color: red;
    float: left;
}
nav{
    font-variant-caps: all-small-caps;
    font-size: 20px;
    width: 80%;
    height: 100px;
    float: left;
    background-color: green;
    text-align: right; 
    line-height: 100px;
    vertical-align: bottom;
}
nav ul li{
    display: inline;
    padding-left:20px;
    padding-right:20px;
}
section{
    background-color: blue;
}
footer{
    background-color: yellow;
    clear:both;
}